<template>
    <div class="container text-center">
        <h1>PIN Generator</h1>
        <div id="generated-pin" style="display: none;">
            <h2>Your PIN: <span id="your-pin"></span></h2>
        </div>

        <button v-if="remaining > 0" type="button" class="btn btn-primary" id="generate-btn" v-on:click.prevent="generate()">Generate PIN</button>
        <button v-else type="button" class="btn btn-primary" id="reset-btn" v-on:click.prevent="reset()">Reset PINs</button>

        <p id="feedback"></p>
        <p class="text-muted"><span id="remaining">{{ remaining }}</span> PINs remaining</p>
    </div>
</template>

<script>
export default {
    data: function() {
        return {
            remaining: 0,
        }
    },
    mounted() {
        this.remaining = this.$el.getAttribute("remaining");
    },
    methods: {
        generate() {
            $("generate-btn").attr("disabled", true);

            this.$http.get("/generate-pin").then( (response) => {
                // success
                $("#feedback").removeClass().addClass("text-success").text(response.statusText);

                $("#generate-btn").attr("disabled", false);

                // fill #your-pin field
                $("#your-pin").text(response.body.pin.pin);

                this.remaining = response.body.remaining;

                $("#generated-pin").show();
            }, (response) => {
                // failed
                $("#feedback").removeClass().addClass("text-danger").text(response.body.message);

                $("#generate-btn").attr("disabled", false);
            });
        },
        reset() {
            $("#reset-btn").attr("disabled", true);

            this.$http.get("/reset-pins").then( (response) => {
                // success
                $("#reset-btn").attr("disabled", false);

                this.remaining = response.body.remaining;
            }, (response) => {
                // failed
                $("#feedback").removeClass().addClass("text-danger").text(response.body.message);

                $("#reset-btn").attr("disabled", false);
            });
        }
    }
}
</script>
